.time-sets{
  display: grid;
  grid-template-columns: 100px 150px 100px;
  justify-items: center;
  align-items: center;
}

.dual-container{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.App,.firstc{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-direction: column;
}

.lastbtn{
  display: flex;
  flex-direction: row;
}
